
@{
    ViewData["Title"] = "Index";
}

    <div style="margin-top:10px; height:100vh;">
        <div id="controlBox" style="width:19%; height:100%; float:left">
            <select id="templateNames" style="width: 100%; height: 35%; overflow-x: auto" multiple>
            </select>
            <button id="selectTemplate" onclick="handleSelectTemplate()">Open Template</button>

            <hr />

            <select id="savedFileNames" style="width:100%; height:35%; overflow-x:auto" multiple>
            </select>
            <button id="selectSavedFile" onclick="handleSelectSavedFile()">Open Saved File</button>
            <label>Readonly:</label>
            <input type="checkbox" checked id="readonlyCheckbox" />
        </div>
        <div style="width:80%; float:left">
            <button onclick="exportProtected()" id="exportProtectedButton" hidden>Export Protected</button>
            <div>
                <div style="float:left; margin-left:10px">
                    <label>Name:</label>
                    <input type="text" id="nameInput">
                </div>
                <div style="float:left; margin-left:10px">
                    <label>Date:</label>
                    <input type="date" id="dateInput" data-date-format="DD MMMM YYYY">
                </div>
                <button onclick="handleSaveButton()" style="margin-left: 10px" id="saveButton">Save</button>
                <button onclick="handleUpdateButton()" style="margin-left: 10px" id="updateButton" hidden>Update</button>
                <div id="spreadsheet" style="float:left; width:100%"></div>
            </div>
        </div>
    </div>

<script>
    $("#spreadsheet").kendoSpreadsheet({
        render: function (e) {
            var height = window.innerHeight;
            e.sender.element.innerHeight(height-100);
        },
        excel: {
            proxyURL: '@Url.Action("SaveFileToTemp", "SecondPage")',
            forceProxy: true
        },
        excelExport: function (e) {
            var fileName = $("#nameInput").val();
            if (currentTemplateName !== "") {
                fileName = currentTemplateName.replace(".xlsx", "") + "_" + $("#nameInput").val() + "_" + $("#dateInput").val();
            }
            e.workbook.fileName = fileName;
        },
    });
    var spread = $('#spreadsheet').getKendoSpreadsheet();
    var dataCellTables;
    var notNullCellTables;
    var currentTemplateName;

    //şablon isimlerinin soldaki select içerisine doldurulması
    $.ajax({
        url: '/SecondPage/GetTemplateNames',
        method: "get",
        success: function (data) {
            loadTemplateNames(data)
        }
    })

    //önceden kayıt edilmiş tabloların isimlerinin soldaki select içerisine doldurulması
    $.ajax({
        url: '/SecondPage/GetSavedFileNamesFromDB',
        method: "get",
        success: function (data) {
            loadSavedFileNames(data)
        }
    })

    function loadTemplateNames(names) {
        names.map((name) => {
            var option = document.createElement("option");
            option.text = name;
            $('#templateNames').append(option);
        })
    }

    function loadSavedFileNames(names) {
        names.map((name) => {
            var option = document.createElement("option");
            option.text = name;
            $('#savedFileNames').append(option);
        })
    }

    function handleSelectTemplate() {
        var selected = $('#templateNames option:selected').val()
        openTemplate(selected);
    }

    function handleSelectSavedFile() {
        var readonly = $("#readonlyCheckbox").is(":checked")
        var selected = $('#savedFileNames option:selected').val()
        if (readonly) {
            openSavedFileReadOnly(selected)
            $('#updateButton').hide()
        } else {
            openSavedFileEditMode(selected)
            $('#updateButton').show()
        }

        currentTemplateName = "";

        $('#nameInput').val(selected);
        $('#nameInput').prop('disabled', true);

        $('#dateInput').prop('disabled', true);

        $('#saveButton').hide()
        $('#exportProtectedButton').show()
    }

    function openTemplate(name) {
        $.ajax({
            url: '/SecondPage/GetTemplateByName/'+name,
            method: "get",
            success: function (data) {
                spread.fromFile(b64toBlob(data)).then(() => lockAllCells()).then(() => unlockCells(name,true));
            }
        })

        currentTemplateName = name;

        $('#nameInput').val("");
        $('#nameInput').prop('disabled', false);

        $('#dateInput').prop('disabled', false);

        $('#saveButton').show()
        $('#updateButton').hide()
        $('#exportProtectedButton').hide()
    }

    function openSavedFileReadOnly(name) {
        $.ajax({
            url: '/SecondPage/GetSavedFileByName/'+name,
            method: "get",
            success: function (data) {
                spread.fromFile(b64toBlob(data)).then(() => lockAllCells());
            }
        })
    }

    function openSavedFileEditMode(name) {
        $.ajax({
            url: '/SecondPage/GetSavedFileByName/'+name,
            method: "get",
            success: function (data) {
                spread.fromFile(b64toBlob(data)).then(() => lockAllCells()).then(() => unlockCells(name,false));
            }
        })
    }

    function b64toBlob(dataURI) {
	    var byteString = atob(dataURI.split(',')[1]);
	    var ab = new ArrayBuffer(byteString.length);
	    var ia = new Uint8Array(ab);

	    for (var i = 0; i < byteString.length; i++) {
		    ia[i] = byteString.charCodeAt(i);
	    }

	    return new Blob([ab], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
    }

    function lockAllCells() {
        //A1 den CX200 e kadar olan celler disable edilir.
        var sheetList = spread.sheets();
        for (var i = 0; i < sheetList.length; i++) {
            var sheet = sheetList[i];
            var range = sheet.range("A1:CX200");
            range.enable(false);
        }

    }

    function unlockCells(docName, isTemplate) {
        var data = { documentName: docName, isTemplate: isTemplate };

        $.ajax({
            url: '/SecondPage/GetUnlockedCells/',
            method: "post",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (datas) {
                var sheetList = spread.sheets();

                //merge olmayan data hücrelerin enable edilmesi
                for (var k = 0; k < sheetList.length; k++) {
                    var cellList = datas.notMergedDataCellTables[k].cellList;
                    var sheet = sheetList[k];

                    for (var i = 0; i < cellList.length; i++) {
                        //Telerik Spreadsheets hücre indexleri 0 dan başlıyor fakat EPPlus'ta 1 den başlıyor
                        //bu nedenle 1 çıkarıyoruz.
                        var range = sheet.range(cellList[i].rowIndex-1, cellList[i].columnIndex-1)
                        range.enable(true);
                    }
                }

                //merge edilmiş data hücrelerin enable edilmesi
                //sadece veri yazılacak hücreyi (sol üst hücre) enable etmek yeterli olmuyor.
                //merge edilmiş tüm hücrelerin enable edilmesi gerekiyor.
                var mergedTables = datas.mergedRangesTables;

                for (var k = 0; k < sheetList.length; k++) {
                    var mergedAddressList = mergedTables[k].mergedCellList;
                    var sheet = sheetList[k];

                    for (var i = 0; i < mergedAddressList.length; i++) {
                        var range = sheet.range(mergedAddressList[i])
                        range.enable(true);
                    }
                }

                //ship particular hücrelerin disable edilmesi
                var shipParticularCells = datas.shipParticularCellTables;
                lockShipParticularCells(shipParticularCells);

                //değişkenlerin atanması
                dataCellTables = datas.notMergedDataCellTables;
                for (var i = 0; i < dataCellTables.length; i++) {
                    dataCellTables[i].cellList = dataCellTables[i].cellList.concat(datas.mergedDataCellTables[i].cellList);
                }
                notNullCellTables = datas.notNullCellTables;
                
            }
        })

    }

    function lockShipParticularCells(shipParticularCells) {
        var sheetList = spread.sheets();

        for (var i = 0; i < sheetList.length; i++) {
            var sheet = sheetList[i];
            var shipParticularCellList = shipParticularCells[i].cellList;

            for (var j = 0; j < shipParticularCellList.length; j++) {
                var range = sheet.range(shipParticularCellList[j].rowIndex - 1, shipParticularCellList[j].columnIndex - 1)
                range.enable(false);
            }
        }
    }

    function handleSaveButton() {
        var res = checkCells();
        if (res) {
            spread.saveAsExcel();
        }
    }

    function handleUpdateButton() {
        var res = checkCells();
        if (res) {
            spread.saveAsExcel();
        }
    }

    function exportProtected() {
        var docName = $("#nameInput").val();
        $.ajax({
            url: '/SecondPage/GetProtectedSavedFileByName/' + docName,
            method: "get",
            success: function (data) {
                const element = document.createElement('a');
                element.download = docName;
                element.href = URL.createObjectURL(b64toBlob(data));
                element.click();
            }
        })
    }

    function checkCells() {
        var sheetList = spread.sheets();

        //not null cellerin doldurulduğundan emin olur. doldurulmayan varsa işlem yaptırmaz.
        for (var i = 0; i < notNullCellTables.length; i++) {
            notNullTable = notNullCellTables[i];
            notNullCellList = notNullTable.cellList;

            var sheet = sheetList[i];

            for (var j = 0; j < notNullCellList.length; j++) {
                var currentNotNullCell = notNullCellList[j];
                var currentSheetCellRange = sheet.range(currentNotNullCell.rowIndex - 1, currentNotNullCell.columnIndex - 1);

                if (currentSheetCellRange.value() === null || currentSheetCellRange.value() === "{NN}") {
                    window.alert("sheet: "+i+", (" + currentNotNullCell.rowIndex + "," + currentNotNullCell.columnIndex + ") cannot be empty!");
                    return false;
                }
            }
        }

        //cell formatının değişip değişmediğinin kontrolü değiştirildiyse uyarıyor ve işlem yaptırmıyor.
        for (var i = 0; i < dataCellTables.length; i++) {
            var dataTable = dataCellTables[i];
            var dataCellList = dataTable.cellList;

            var sheet = sheetList[i];

            for (var j = 0; j < dataCellList.length; j++) {
                var currentDataCell = dataCellList[j];
                var currentSheetCellRange = sheet.range(currentDataCell.rowIndex - 1, currentDataCell.columnIndex - 1);
                if (currentDataCell.format !== null && currentSheetCellRange.value()!==null) {
                    var valid = checkCellDataType(currentSheetCellRange.value(), currentDataCell.format);

                    if (!valid) {
                        window.alert("sheet: " + i + ", (" + currentDataCell.rowIndex + "," + currentDataCell.columnIndex + ") in wrong format!");
                        return false;
                    }
                    
                }
            }
        }

        

        return true;
    }

    function checkCellDataType(dataCellValue, format) {
        if (format.startsWith("@@")) {
            return typeof (dataCellValue) === typeof ("");
        }
        else if (format.startsWith("[") || format.startsWith("#") || format.startsWith("0")) {
            return typeof (dataCellValue) === typeof (0);
        }
        else if (format.startsWith("m") || format.startsWith("d") || format.startsWith("y")) {
            return typeof (dataCellValue) === typeof (0);
        }

        return false;
    }

</script>

